<div class="container text-center">
  <div class="row m-5">
    <div class="col">
      <img src="/assets/img/burger.jpg" alt="burger" style="width: 200px; height: 200px;">
      <h1>Eat-Da-Burger</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row m-5">
        <div class="col-4">
          <p>burgers</p>
        </div>
        <div class="col-4">
          <p>no burgers</p>
              </div>
        <div class="col-4">
          <p>eaten burgers</p>
        </div>
      </div>
      <form>
        <div class="row">
          <div class="col">
            <textarea name="newBurger" id="newBurger" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button id="submitBtn">Submit</button>
            <p>Enter a burger you would like to eat</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>