<div class="container text-center">
  <div class="row m-5">
    <div class="col">
      <img src="/assets/img/burger.jpg" alt="burger">
      <h1>Eat-Da-Burger</h1>
    </div>
  </div>
  <div class="row m-5">
    <div class="col">
      <p>burger text</p>
    </div>
  </div>
</div>